<header>
    <a href="My-Media/index.html">
      <img src="https://i.imgur.com/6tTdRC2.jpeg" alt="logo" class="logo"/>
    </a>

    <input type="checkbox" id="check" />
    <label for="check" class="icons">
      <i class="bx bx-menu" id="menu-icon"></i>
      <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar">
      <a href="My-Media/index.html" class="nav-item" style="--i: 0">Home</a>
      <div class="dropdown">
        <a href="#" class="nav-item dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Gallery
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="My-Media/page/Gallery.html">Gallery VRC</a></li>
            <li><a class="dropdown-item" href="My-Media/page/GalleryFig.html">Gallery Figurine</a></li>
            <li><a class="dropdown-item" href="My-Media/page/GalleryPrint.html">Gallery Print</a></li>
        </ul>
    </div>
      <a href="My-Media/page/AboutMe.html" class="nav-item" style="--i: 2">About Me</a>
      <a href="My-Media/page/HowTo.html" class="nav-item" style="--i: 3">How To Find me</a>
    </nav>
</header>